The data comes from here:   
    - https://www.macrotrends.net/cities/23129/san-diego/population  
    - https://www.macrotrends.net/cities/23131/san-jose/population  
You may just need to add one new row each new year.

In [1]:
import pandas as pd

In [2]:
sd = pd.read_csv('San Diego-population-2022-01-20.csv', header=9)
sj = pd.read_csv('San Jose-population-2022-01-20.csv', header=9)

In [4]:
sd['date'] = sd['date'].str[:4]
sj['date'] = sj['date'].str[:4]

In [5]:
sd

    date   Population   Annual Change
0   1950       440000             NaN
1   1951       470000            6.82
2   1952       502000            6.81
3   1953       536000            6.77
4   1954       573000            6.90
..   ...          ...             ...
81  2031      3557000            0.88
82  2032      3588000            0.87
83  2033      3619000            0.86
84  2034      3649000            0.83
85  2035      3678000            0.79

[86 rows x 3 columns]

In [8]:
sd['Pop SD'] = sd[' Population']
sd['Pop SJ'] = sj[' Population']
sd['Growth SD'] = sd[' Annual Change']
sd['Growth SJ'] = sj[' Annual Change']

In [13]:
final = sd[['date', 'Pop SD', 'Growth SD', 'Pop SJ', 'Growth SJ']].iloc[20:-13]
final

    date   Pop SD  Growth SD   Pop SJ  Growth SJ
20  1970  1209000       3.69  1009000       4.34
21  1971  1252000       3.56  1027000       1.78
22  1972  1297000       3.59  1046000       1.85
23  1973  1344000       3.62  1064000       1.72
24  1974  1392000       3.57  1084000       1.88
25  1975  1442000       3.59  1103000       1.75
26  1976  1493000       3.54  1123000       1.81
27  1977  1547000       3.62  1143000       1.78
28  1978  1602000       3.56  1163000       1.75
29  1979  1660000       3.62  1184000       1.81
30  1980  1718000       3.49  1204000       1.69
31  1981  1774000       3.26  1221000       1.41
32  1982  1832000       3.27  1237000       1.31
33  1983  1891000       3.22  1254000       1.37
34  1984  1953000       3.28  1271000       1.36
35  1985  2017000       3.28  1288000       1.34
36  1986  2082000       3.22  1305000       1.32
37  1987  2150000       3.27  1323000       1.38
38  1988  2220000       3.26  1341000       1.36
39  1989  2293000       3.29  1359000       1.34
40  1990  2356000       2.75  1376000       1.25
41  1991  2387000       1.32  1392000       1.16
42  1992  2418000       1.30  1408000       1.15
43  1993  2450000       1.32  1424000       1.14
44  1994  2482000       1.31  1441000       1.19
45  1995  2514000       1.29  1457000       1.11
46  1996  2547000       1.31  1474000       1.17
47  1997  2580000       1.30  1491000       1.15
48  1998  2614000       1.32  1508000       1.14
49  1999  2648000       1.30  1525000       1.13
50  2000  2681000       1.25  1541000       1.05
51  2001  2708000       1.01  1554000       0.84
52  2002  2735000       1.00  1566000       0.77
53  2003  2763000       1.02  1578000       0.77
54  2004  2791000       1.01  1591000       0.82
55  2005  2819000       1.00  1603000       0.75
56  2006  2848000       1.03  1616000       0.81
57  2007  2876000       0.98  1629000       0.80
58  2008  2905000       1.01  1642000       0.80
59  2009  2935000       1.03  1655000       0.79
60  2010  2964000       0.99  1668000       0.79
61  2011  2994000       1.01  1681000       0.78
62  2012  3024000       1.00  1694000       0.77
63  2013  3055000       1.03  1708000       0.83
64  2014  3086000       1.01  1721000       0.76
65  2015  3117000       1.00  1735000       0.81
66  2016  3148000       0.99  1749000       0.81
67  2017  3180000       1.02  1762000       0.74
68  2018  3212000       1.01  1776000       0.79
69  2019  3231000       0.59  1783000       0.39
70  2020  3251000       0.62  1791000       0.45
71  2021  3272000       0.65  1799000       0.45
72  2022  3295000       0.70  1809000       0.56

In [14]:
final.to_csv('../data/sd-sj-2022.csv', index=False)